{% load staticfiles %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="universal">
        <tbody>
        {% for field in form %}
            {% for error in field.errors %}
                <p class="errors">{{ error }}</p>
            {% endfor %}
            <tr>
                <td class="field-label">{{ field.label }}</td>
                <td>{{ field }}</td>
            </tr>
            <tr style="height: 10px;"></tr>
        {% endfor %}
        <tr>
            <td colspan="2">
                <div id="images">
                    {% for img in images %}
                        <a id="image{{ img.id }}" href="{{ img.image.url }}"><img
                                style="height:150px; width: 200px; margin-bottom: 5px;"
                                src="{{ img.image.url }}"/></a>
                        <a href="" class="remove-image-link" id="{{ img.id }}">
                            <span class="glyphicon glyphicon-ban-circle"></span></a>
                    {% endfor %}
                </div>
            </td>
        </tr>
        <input name="path" type="hidden" value={{ request.META.HTTP_REFERER }}>
        <tr>
            <td><input style="float: right;" id="form-submit" class="btn btn-success" type="submit" value="ok"></td>
            <td><a id="form-cancel" href="#" class="btn btn-danger">отмена</a></td>
        </tr>
        </tbody>
    </table>
    {{ form.media }}
</form>
<form id="upload-form" action="/admin/upload/" method="post">
    {% csrf_token %}
    <label class="btn btn-primary" for="upload-file"><span id="span-plus"
                                                           class="glyphicon glyphicon-plus"></span></label>
    <input id="upload-file" class="hidden" type="file" name="file_field" multiple/>

</form>
<div class="remove-image hidden">
    <p>Удалить фотографию безвозвратно?</p>
    <form id="delete-image" action="" method="post">
        {% csrf_token %}
        <input id="album_id" name="obj_id" type="hidden" value="{{ obj.id }}"/>
        <input id="photo_id" name="photo_id" type="hidden"/>
        <input class="btn btn-danger" type="submit" value="удалить"/>
        <button id="remove-cancel" class="btn btn-primary">Отмена</button>
    </form>
</div>