{% extends 'AdminApp/base.html' %}
{% load staticfiles %}
{% block title_inside %} Форма для редактирования новости {% endblock %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Редактировать новость</h4>
                    </div>
                    <div class="form">
                        {% include 'AdminApp/universal_form.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}