body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

div {
    display: block;
}

div.wrap {
    background-image: url("../pic/bg_carrot.jpg");
    min-height: 400px;
}

div.header {
    height: 204px;
}

div.header-topper {
    position: absolute;
    height: 8px;
    background: #464646;
    width: 1045px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 999;
}

div.header-topper span.lside {
    left: -10px;
    border-top: 8px solid #464646;
    border-left: 10px solid transparent;
}

div.header-topper span.rside {
    right: -10px;
    border-top: 8px solid #464646;
    border-right: 10px solid transparent;
}

div.header-topper span.rside, div.header-topper span.lside {
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
}

div.main_menu {
    width: 100%;
    height: 60px;
    overflow: visible;
    position: absolute;
    top: 128px;
    font-family: 'Cuprum', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    margin: 0 auto;
    margin-bottom: 14px;
    border-spacing: 1px;
    text-align: center;
    z-index: 999;
}

div.main_menu > div.bg {
    background: none;
    width: 1084px;
    position: relative;
    z-index: 10;
    margin: 0 auto;
}

div.main_menu > div.bg > div.aligner {
    background: transparent url("../pic/bg_mm.jpg") no-repeat center top;
    width: 1084px;
    position: relative;
    z-index: 10;
}

div.aligner {
    width: 1045px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

div.main_menu ul {
    list-style: None;
    max-width: 100%;
    background-color: transparent;
    height: 49px;
}

div.main_menu li {
    display: inline;
    line-height: 60px;
    margin-right: 12px;
}

div.main_menu a {
    color: #ffffff;
    font-size: 13px;
}

div.main_menu > div.bg > span.lside {
    background: url(../pic/bg_mm_lside.png) no-repeat left top;
    left: -81px;
}

div.main_menu > div.bg > span.rside {
    background: url(../pic/bg_mm_rside.png) no-repeat left top;
    right: -81px;
}

div.main_menu > div.bg > span.lside, div.main_menu > div.bg > span.rside {
    position: absolute;
    width: 126px;
    height: 62px;
    z-index: 1;
    top: 13px;
}

div.bg {
    height: 100%;
    width: 100%;
}

div.header div.aligner > div.bg {
    background: #ffffff;
    position: relative;
    z-index: 2;
}

div.header-blocks {
    width: 100%;
    position: relative;
    top: 5px;
    line-height: 21px;
    height: 123px;
    font-size: 14px;
    font-family: Arial;
}

div.header-blocks .item.first {
    padding-left: 40px;
}

div.header-blocks .item {
    text-align: center;
    display: inline-block;
    float: left;
    width: 19%;
    height: auto;
    padding-top: 27px;
}

div.header-blocks .item > span {
    display: inline-block;
    text-align: left;
}

div.logo {
    top: 25px;
    left: 15px;
    posotion: absolute;
    width: 235px;
    font-size: 20px;
}

div.logo img {
    width: 235px;
}

div.head-text {
    font-size: 28px;
    font-family: 'Cuprum', sans-serif;
}

div.head-text > span {
    font-size: 70%;
    padding-right: 2px;
}
div.item.second {
    margin-left: 40px;
}

i.ico.ico-navigate{
    background: url("../pic/ico_navigate.png") no-repeat 0 0;
}

i.ico {
    width: 19px;
    height: 16px;
    display: inline-block;
    margin-bottom: -3px;
}

i, cite, em, var, address, dfn {
    font-style: italic;
}

div.item.second a {
    color: forestgreen;
    text-decoration: underline;
}