body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

div {
    display: block;
}

div.header .aligner .bg {
    min-height: 224px;
}

div.wrap {
    background-image: url("../pic/bg_carrot.jpg");
    height: auto !important;
    min-height: 100%;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

div.header-topper {
    position: absolute;
    height: 8px;
    background: #464646;
    width: 1045px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 999;
}

div.header-topper span.lside {
    left: -10px;
    border-top: 8px solid #464646;
    border-left: 10px solid transparent;
}

div.header-topper span.rside {
    right: -10px;
    border-top: 8px solid #464646;
    border-right: 10px solid transparent;
}

div.header-topper span.rside, div.header-topper span.lside {
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
}

div.main_menu {
    width: 100%;
    height: 60px;
    overflow: visible;
    position: absolute;
    top: 128px;
    font-family: 'Cuprum', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    margin: 0 auto;
    margin-bottom: 14px;
    border-spacing: 1px;
    text-align: center;
    z-index: 999;
}

div.main_menu > div.bg {
    background: none;
    width: 1084px;
    position: relative;
    z-index: 10;
    margin: 0 auto;
}

div.main_menu > div.bg > div.aligner {
    background: transparent url("../pic/bg_mm.jpg") no-repeat center top;
    width: 1084px;
    position: relative;
    z-index: 10;
    margin-top: 22px;
}

div.aligner {
    width: 1045px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

div.main_menu ul {
    list-style: None;
    max-width: 100%;
    background-color: transparent;
    height: 49px;
    -webkit-box-shadow: 0px -5px 10px -2px rgba(99, 15, 15, 1);
    -moz-box-shadow: 0px -5px 10px -2px rgba(99, 15, 15, 1);
    box-shadow: 0px -5px 10px -2px rgba(99, 15, 15, 1);
}

div.main_menu li {
    display: inline;
    line-height: 60px;
    margin-right: 12px;
}

div.main_menu a {
    color: #ffffff;
    font-size: 13px;
}

div.main_menu > div.bg > span.lside {
    background: url(../pic/bg_mm_lside.png) no-repeat left top;
    left: -81px;
}

div.main_menu > div.bg > span.rside {
    background: url(../pic/bg_mm_rside.png) no-repeat left top;
    right: -107px;
}

div.main_menu > div.bg > span.lside, div.main_menu > div.bg > span.rside {
    position: absolute;
    width: 126px;
    height: 62px;
    z-index: 1;
    top: 13px;
}

div.bg {
    height: 100%;
    width: 100%;
}

div.header div.aligner > div.bg {
    background: #ffffff;
    position: relative;
    z-index: 2;
    padding-bottom: 50px;
}

div.basket {
    text-align: center;
    padding-top: 15px;
}

div.header-blocks {
    width: 100%;
    position: relative;
    top: 5px;
    line-height: 21px;
    height: 123px;
    font-size: 14px;
    font-family: Arial;
}

div.header-blocks .item.first {
    padding-left: 40px;
}

div.header-blocks .item {
    text-align: center;
    display: inline-block;
    float: left;
    width: 19%;
    height: auto;
    padding-top: 27px;
}

div.header-blocks .item > span {
    display: inline-block;
    text-align: left;
}

div.logo {
    top: 25px;
    left: 15px;
    posotion: absolute;
    width: 235px;
    font-size: 20px;
}

div.logo img {
    width: 235px;
}

div.head-text {
    font-size: 28px;
    font-family: 'Cuprum', sans-serif;
}

div.head-text > span {
    font-size: 70%;
    padding-right: 2px;
}

div.item.second {
    margin-left: 85px;
}

i.ico.ico-navigate {
    background: url("../pic/ico_navigate.png") no-repeat 0 0;
}

i.ico {
    width: 19px;
    height: 16px;
    display: inline-block;
    margin-bottom: -3px;
}

i, cite, em, var, address, dfn {
    font-style: italic;
}

div.item.second a {
    color: forestgreen;
    text-decoration: underline;
}

div.head-text > span.glyphicon {
    font-size: 14px;
}

div.header-blocks div.item.third {
    padding-left: 22px;
    width: 206px;
    text-align: left;
}

div.header-blocks .email {
    font-size: 16px;
}

a.blue {
    color: #0099cc;
}

div.item.fourth {
    padding-top: 3px;
    width: 264px;
}

div#header-card {
    position: absolute;
    right: 8px;
    top: 0;
    padding: 0;
}

.box {
    position: relative;
}

.cart_box {
    background: url("../pic/bg_cart.png") no-repeat 0 0;
    padding-top: 10px;
    font-size: 12px;
    margin: 0;
    width: 172px;
    height: 114px;
    color: #fff;
}

button#login {
    float: left;
}

span.glyphicon.glyphicon-user {
    float: left;
    margin: 2px 2px 0 0;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    color: #fff;
    background: none;
    bottom: 0px;
    z-index: 2;
    width: 100%;
    height: 219px;
    margin-left: 0;
    margin-top: 37px;
    margin-bottom: 0;
    font-size: 13px;
}

.footer a {
    color: #fff;
}

.footer .bgr {
    margin: 0 auto;
    width: 1045px;
    background: transparent url("../pic/footer_border.png") repeat-x;
    position: relative;
    height: 212px;
    min-height: 100%;
}

.spacer {
    width: 100%;
    height: 212px;
    clear: both;
    position: relative;
    z-index: 1;
}

.bgr {
    top: 0;
    bottom: 53px;
    right: 0;
    min-height: 100%;
    overflow: visible;
    height: 100%;
    margin: 0 auto;
    position: relative;
    /* box-shadow: 0 0 2px #C9C9C9; */
    left: 0;
    width: 1045px;
    padding-top: 0;
}

.main {
    background: #fff;
    padding: 0;
    height: 100%;
    min-height: 300px;
}

.footer .inner {
    height: 212px;
    background: transparent url(../pic/denim_pattern.png) repeat-x left bottom;
    position: relative;
    bottom: -7px;
}

.footer .shadow {
    border-top: 2px solid #C75A25;
    background: url(../pic/footer_shadow.png) no-repeat center -38px;
    margin: 0 auto;
    width: 588px;
    top: 73px;
    position: relative;
    height: 74px;
}

.footer-left {
    position: absolute;
    display: inline-block;
    bottom: 38px;
    left: 30px;
    width: 248px;
}

.footer-center {
    position: absolute;
    bottom: 40px;
    left: 413px;
    width: 300px;
}

.footer-sticker {
    position: absolute;
    top: 10px;
    left: 321px;
    height: 53px;
    width: 400px;
    text-align: center;
}

.footer-create {
    position: absolute;
    bottom: 37px;
    right: 0px;
    text-align: left;
    width: 282px;
    font-size: 11px;
    line-height: 13px;
}

.item.fourth a {
    float: left;
    margin: 2px 2px 0 0;
}

aside.left {
    float: left;
    width: 249px;
    position: relative;
}

aside .box.catalog {
    background-image: url('../pic/bg_box_catalog_pattern.png');
}

aside.left .box > .title {
    background: transparent url(../pic/bg_title1.png) no-repeat left top;
    position: relative;
    width: 257px;
    height: 46px;
    left: -8px;
    top: 9px;
}

.box > .title span {
    height: 36px;
    display: inline-block;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 25px;
    padding-top: 8px;
}

.box > .title span a {
    color: #fff;
}

.box.catalog .inner {
    background: url(../pic/bg_box_catalog.png) no-repeat;
}

ul.menu {
    margin: 0px;
    padding: 0;
    list-style: none;
    line-height: normal;
}

ul.menu li {
    height: 1%;
    line-height: 34px;
    vertical-align: top;
    position: relative;
}

.menu li span {
    display: block;
    position: relative;
    padding: 0 10px;
}

.menu li span a {
    background: url(../pic/list_arrow.png) no-repeat 4px center;
    color: #fff;
    display: block;
    padding: 2px 10px 2px 30px;
    border-bottom: 1px dotted white;
    padding-right: 5px;
    font-weight: bold;
    text-decoration: none;
}

#topslider {
    margin-bottom: 92px;
    top: 106px;
    position: relative;
}

#topslider .position {
    position: relative;
    height: 1%;
    text-align: center;
    padding: 9px;
}

#topslider .cut {
    width: 726px;
    display: inline-block;
    margin: 0 auto;
    height: 276px;
    position: relative;
    overflow: hidden;
    background: #fff;
}

#topslider .prev, #topslider .next {
    position: absolute;
    z-index: 1000;
    width: 74px;
    top: 20px;
    height: 283px;
    margin-top: -36px;
}

#center {
    margin-left: 265px;
    margin-right: 20px;
}

.cut {
    position: relative;
    width: 100%;
    overflow: hidden;
    -webkit-box-shadow: 4px 4px 19px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 19px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 19px -1px rgba(0, 0, 0, 0.75);
}

#top_panel {
}

#top_panel {
    background: url(../pic/main_filter.png) no-repeat 0 0;
    color: #fff;
    height: 77px;
    padding-top: 22px;
    padding-left: 15px;
    border: none;
    font-family: Verdana;
    margin-bottom: 14px;
}

#top_panel > div > span {
    font-size: 14px;
    display: inline-block;
    float: left;
    padding: 0 10px;
}

aside .box {
    background: #f0f0f0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    position: relative;
    text-align: left;
    width: 100%;
    margin-bottom: 7px;
}

.news .item {
    padding: 0;
    overflow: hidden;
}

.news .item .txt {
    font-size: 11px;
    line-height: 13px;
    color: #7a7a7a;
}

.news .item .date {
    padding-bottom: 5px;
    padding: 0;
    font-size: 11px;
    color: #000;
    font-weight: bold;
}

.label.label-styled {
    background: #c44a1d;
    line-height: 32px;
}

aside .box .inner {
    padding: 10px 10px 10px 25px;
}