<div class="csrf-token">{% csrf_token %}"</div>
<div class="login-page">
    <div class="form" style="max-width: 580px;">
        <form id="edit-form" method="post" action="/admin/" class="edit_form login-form">
            {% csrf_token %}
            <table>
                <tbody>
                {% for field in edit_form %}
                    <tr>
                        <td>{{ field.label_tag }}</td>
                        <td>{{ field }}</td>
                        {% for error in field.errors %}
                            <p class="errors" style="color: red">{{ error }}</p>
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr class="add">
                    <td colspan="2">
                        <button id="btn-add" type="submit" class="btn btn-success">ДОБАВИТЬ</button>
                    </td>
                </tr>
                <tr class="edit hidden">
                    <td>
                        <button id="btn-edit" type="submit" class="btn btn-success">СОХРАНИТЬ</button>
                    </td>
                    <td>
                        <button id="btn-cancel" class="btn btn-danger">ОТМЕНА</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>