td, th {
    font-size: 1.475rem;
!important;
}
span.glyphicon {
    font-size: 2.5rem; !important;
    margin-right: 5px;
}

span.glyphicon-edit {
    color: #398439;
}

span.glyphicon-ban-circle {
    color: #a21309;
}

.table thead tr th {
    font-size: 1.563rem;
}

.delete {
    margin-left: 5px;
}

.h4, h4, .card {
    font-size: 1.765rem;
}

.navbar .navbar-brand {
    font-size: 1.825rem;
}

.navbar > .container-fluid .navbar-brand {
    margin-left: 2px;
}

td {
    width: 50%;
}

table {
    width: 100%;
}

.hidden {
    display: none;
}

div#user-delete {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    /*border: 1px solid black;*/
    background-color: #fff;
    font-size: 1.475rem;
    text-align: center;
    padding: 10px 5px 10px 5px;
    -webkit-box-shadow: 9px 9px 13px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 9px 13px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 9px 9px 13px -6px rgba(0, 0, 0, 0.75);
    border: 1px solid lightgrey;
}

div#user-delete button {
    width: 35%;
    margin: 0 auto;
}

a.disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: #383d41;
    opacity: .5;
}
span.glyphicon.glyphicon-circle-arrow-left, span.glyphicon.glyphicon-circle-arrow-right {
    font-size: 2rem;
}

.goto-page {
    margin-left: 40px;
}

.goto-page > * {
    margin-right: 5px;
}
div.form {
    margin: 2% auto;
}

#category-delete-container {
    border: 1px solid lightgray;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    text-align: center;
}

#category-delete-container button, #category-delete-container a {
    margin: 0 auto;
    width: 47%;
}

.remove-image {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid lightgray;
    background-color: #fff;
    padding: 10px;
    text-align: center;
}
.remove-image button, .remove-image input {
    min-width: 40%;
}