{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/login.css" %}"/>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static "UserManagementApp/js/signup.js" %}"></script>
{% endblock %}
{% block content %}
    <div class="login-page">
        <div class="form">
            {% block inner-form %}
                <form class="login-form" method="post" action="/user/signup/">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.label_tag }}<br/>
                    {{ field }}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
                <button type="submit">зарегистрироваться</button>
            {% endblock %}
        </div>
    </div>
{% endblock %}