{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block styles %}
        <link rel="stylesheet" href="{% static "css/base.css" %}"/>
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
        <link rel="stylesheet" href="{% static "css/bootstrap3.css" %}"/>
    {% endblock %}
    {% block title %}
        <title>ЗАО "МеталлГазСнаб"</title>
    {% endblock %}
</head>
<body>
<div class="wrap">
    <div class="header">
        <div class="header-topper">
            <span class="lside"></span>
            <span class="rside"></span>
        </div>
        <div class="main_menu">
            <div class="bg">
                <span class="lside"></span>
                <div class="aligner">
                    <ul>
                        {% for menu in menu_list %}
                            {% if menu.visible %}
                                <li>
                                    <a href="/{{ menu.slug }}/"
                                       class="{% if page == menu.slug %}active{% endif %}">{{ menu.name|upper }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <span class="rside"></span>
            </div>
        </div>
        <div class="aligner">
            <div class="bg">
                <div class="header-blocks">
                    <div class="item first">
                            <span>
                                <div class="logo">
                                    <a href="/">
                                        <img alt="MGS" src="{{ organization.logo.url }}"/>
                                    </a>
                                </div>
                            </span>
                    </div>
                    <div class="item second">
                            <span>
                                <div class="head-text">
                                    <span class="glyphicon glyphicon-earphone"></span><span>({{ organization.phone_prefix }})</span>{{ organization.phone }}

                                </div>
                                <br/><span></span>
                                <div>
                                    <a href="/contact/">
                                        <i class="ico ico-navigate"></i>
                                        {{ organization.contact_text|capfirst }}
                                    </a>
                                </div>
                            </span>
                    </div>
                    <div class="item third">
                            <span>
                                <div class="email">
                                    <a class="blue" href="mailto:{{ organization.email }}">
                                        <span class="glyphicon glyphicon-envelope"
                                              style="font-size: 12px; margin-right: 3px;"></span>{{ organization.email }}
                                    </a>
                                </div>
                            </span>
                    </div>
                    <div class="item fourth" style="width: 264px">
                        {% if not user.is_authenticated %}
                            <a href="/user/login/">
                                <button type="button" id="login" class="btn btn-success btn-xs">
                                    Войти
                                </button>
                            </a>
                        {% else %}
                            {% if user.is_superuser %}
                                <a href="/admin/"><span class="glyphicon glyphicon-text-background"></span></a>
                            {% endif %}
                            <span class="glyphicon glyphicon-user">{{ user.username }}</span>
                            <a href="/user/logout/">
                                <button type="button" id="login" class="btn btn-success btn-xs">
                                    Выйти
                                </button>
                            </a>
                        {% endif %}
                    </div>
                    <div class="item last" id="header-card">
                            <span style="padding-left: 15px;">
                                <div class="box cart_box">
                                    <div class="basket">
                                        Ваша корзина пуста!
                                    </div>
                                    <div class="rb"></div>
                                    <div class="lb"></div>
                                </div>
                            </span>
                    </div>
                </div>
                {% block topslider %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="bgr">
        <div class="aligner">
            <div class="main">
                <aside class="left">
                    <div class="box catalog">
                        <div class="title">
                            <span><a href="/catalog/">Каталог</a></span>
                        </div>
                        <div class="inner">
                            <ul class="menu">
                                {% for category in categories %}
                                    <li><span><a
                                            href="/category/{{ category.id }}">{{ category.name | capfirst }}</a></span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="box">
                        <div class="title">
                            <span>Случайное фото</span>
                        </div>
                        <div class="inner">
                            <div class="imgitem ib"><a
                                    href="{{ random_photo.image.url }}"
                                    class="popup" rel="gallery"><img alt="{{ random_photo.image.name }}"
                                                                     src="{{ random_photo.image.url }}">
                            </a></div>
                        </div>
                        <a href="/gallery/">← Все альбомы</a></div>
                    <div class="box news">
                        <div class="title">
                            <span><a href="/news/" style="color:inherit;">Новости</a></span>
                        </div>
                        <div class="inner">
                            <div class="news">
                                <div class="item">
                                    <div class="txt">
                                        <div class="date"><span style="font-size: 12px;"
                                                                class="label label-styled">{{ news.date|date:"d.m.Y" }}</span>
                                        </div>
                                        <a href="/news/{{ news.id }}">{{ news.name }}</a>
                                        <div class="desc">{{ news.desc | safe }}</div>
                                    </div>
                                </div>
                                <hr class="double dotted">
                            </div><!--news -->
                            <div class="lt"></div>
                            <div class="rt"></div>
                        </div>
                        <div class="rb"></div>
                        <div class="lb"></div>
                    </div>
                    <section class="box contact">
                        <div class="title">
                            <a href="/contact/"><span>Контакты</span></a>
                        </div>
                        <div>
                            <ul>
                                <li class="icon adress">
                                    <i></i>
                                    <span>
				<div>г. Екатеринбург, ул. Монтажников, 32а
                    <!--s_links--><!--check code--><!--/s_links--></div>
				<br>
				<a href="/contact/">Посмотреть на карте</a>
			</span>
                                </li>
                                <br>
                                <li class="icon phone">
                                    <i></i>
                                    <span><span>(343)</span><strong> 362-29-00</strong></span>
                                </li>
                            </ul>
                        </div>
                    </section>
                </aside>
                <div id="center">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="footer">
        <div class="bgr">
            <div class="inner">
                <div class="aligner">
                    <div class="shadow"></div>
                    <div class="footer-left">&copy; {% now "Y" %}<br/>{{ organization.footer_desc|safe }}</div>
                    <div class="footer-center">Наш телефон:
                        <b>({{ organization.phone_prefix }}) {{ organization.footer_phone }}</b><br/>
                        Электронная почта: <a
                                href="mailto:{{ organization.footer_email }}">{{ organization.footer_email }}</a>
                    </div>
                    <div class="footer-sticker"></div>
                    <div class="footer-create"><b><a href="/">{{ organization.name | upper }}</a></b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block scripts %}
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/base.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
{% endblock %}
</body>
</html>