<div class="login-page">
    <div class="form">
        <form class="register-form">
            <input type="text" placeholder="name"/>
            <input type="password" placeholder="password"/>
            <input type="text" placeholder="email address"/>
            <button>create</button>
            <p class="message">Уже зарегистрированы?<a href="/login/">Войти</a></p>
        </form>
        <form class="login-form" method="post" action="/login/">
            {% csrf_token %}
            {% if errors %}<span class="error">Неверный логин или пароль</span> {% endif %}
            <input type="text" name="login" placeholder="Пользователь"/>
            <input type="password" name="password" placeholder="Пароль"/>
            <button type="submit">войти</button>
            <p class="message">Не зарегистрированы? <a href="/signup/">Создать аккаунт</a></p>
        </form>
    </div>
</div>