{% extends 'base.html' %}
{% load staticfiles %}
{% block topslider %}
    <div id="topslider">
    <div class="position">
        {#            <a href="#" class="prev"></a>#}
        {#            <a href="#" class="next"></a>#}
        <div class="cut">
            <div id="head-carousel" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                    {% for img in album.photoimage_set.all %}
                        <li data-target="#head-carousel" data-slide-to="{{ forloop.counter0 }}"
                            {% if forloop.counter0 == 0 %}class="active">{% endif %}</li>
                    {% endfor %}
                </ul>
                <div class="carousel-inner">
                    {% for img in album.photoimage_set.all %}
                        <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                            <img src="{{ img.image.url }}" alt="Chicago" width="726px" height="276px">
                            <div class="carousel-caption">
                                {% if img.name %}<h3>{{ img.name }}</h3>{% endif %}
                                {% if img.desc %}<p>{{ img.desc }}</p>{% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <a class="carousel-control-prev" href="#head-carousel" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#head-carousel" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block breadcrumbs %}
{% endblock %}
{% block content %}
    <div id="top_panel">
        <div>
            <span>Поиск по каталогу: &nbsp;&nbsp;</span>
            <span>
            <form action="/search/" method="GET">
                <div class="input-append">
                  <input style="color: black; width:360px; font-size: 12px;" name="q" type="text"
                         placeholder="Поиск по наименованию товара, артикулу">
                  <button style="background-color: #f96332;" class="btn styled" type="submit">
                      <span class="glyphicon glyphicon-search"></span></button>
                </div>
            </form>
            </span>
        </div>
    </div>
    <div class="box">
    </div>
    <div class="box">
        <div class="title">
            <span>Каталог</span>
        </div>
        <div class="inner main-catalog">
            {% for cat in show_categories %}

                <div class="oh item">
                    <div class="oh">
                        <a href="/catalog/{{ cat.id }}/">
                            {% if cat.image %}<img
                                    src="{{ cat.image.url }}"
                                    alt="{{ cat.name | capfirst }}"></a>
                            {% endif %}
                    </div>
                    <div class="oh">
                        <div class="title"><a href="/catalog/{{ cat.id }}/">{{ cat.name | capfirst }}</a></div>
                        <ul class="nolist">
                        </ul>
                    </div>
                </div>
            {% endfor %}
            <a href="/catalogue/" style="float:right;">весь каталог</a>
            <div class="cl"></div>
        </div>
    </div>
    <div class="box news">
        <div class="title">
            <span><a href="/news/" style="color:inherit;">Новости</a></span>
        </div>
        <div class="inner">
            <div class="news">
                <div class="item">
                    <div class="txt">
                        <div class="date"><span class="label label-styled">{{ news.date|date:'d.m.Y' }}</span></div>
                        <a href="/news/{{ news.id }}/">{{ news.name }}</a>
                        <div class="desc">{{ news.desc|safe }}</div>
                    </div>
                </div>
                <hr class="double dotted">
            </div><!--news -->
            <div class="lt"></div>
            <div class="rt"></div>
        </div>
        <div class="rb"></div>
        <div class="lb"></div>
    </div>
    <div class="box unstyled">
        <div class="inner">
            <div class="padd">
                {{ organization.main_page_desc|safe }}
            </div>
        </div>
    </div>
{% endblock %}