span.glyphicon, td, th {
    font-size: 1.475rem; !important;
}

.table thead tr th {
    font-size: 1.563rem;
}

.delete {
    margin-left: 5px;
}

.h4, h4, .card {
    font-size: 1.765rem;
}
.navbar .navbar-brand {
    font-size: 1.825rem;
}

.navbar>.container-fluid .navbar-brand {
    margin-left: 2px;
}
